<h1>{{title}}: {{author.name}}</h1>
<p>{{author.lifespan}}</p>

{{#if author_books}}
  <p><strong>Delete the following books before attempting to delete this author.</strong></p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    <dl>
      {{#each author_books}}
        <dt><a href="{{url}}">{{title}}</a></dt>
        <dd>{{summary}}</dd>
      {{else}}
      {{/each}}
    </dl>
  </div>
{{else}}
  <p style="color: red;">Do you really want to delete this Author?</p>
  <form method="POST" action="">
    <div class="form-group">
      <input id="authorid" class="form-control" type="hidden" name="authorid" value="{{author.id}}">
    </div>
    <button class="btn btn-primary" type="submit">Delete</button>
  </form>
{{/if}}